@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-primary-bg dark:bg-gray-950;

  font:
    normal 400 1rem /1.5 "Gudea",
    serif;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: content-box;

  color-scheme: light dark;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: auto; */
  column-gap: 10px;
  margin: 0 2rem;
}

@media (min-width: 640px) {
  body {
    margin: 0 7.5rem;
    column-gap: 20px;
  }
}

@layer components {
  .heading {
    @apply font-secondary text-3xl font-bold lg:text-5xl xl:text-6xl;
  }
  .sub-heading {
    @apply font-secondary text-xl font-bold lg:text-3xl;
  }
  .title {
    @apply font-secondary text-lg font-bold lg:text-2xl 2xl:text-3xl;
  }
  .sub-title {
    @apply text-md font-secondary font-bold lg:text-xl;
  }
  .caption {
    @apply font-secondary text-xs;
  }

  .group-hover-transition {
    @apply duration-500 ease-in-out;
  }

  /* Move button up and scale little bit */
  .button-effect-1 {
    @apply duration-300 ease-in-out hover:-translate-y-[3px] hover:scale-[1.03];
  }
}

/* ScrollBar Functionality */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffe5ec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* Primary color */
  background: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb6c1;
}

a:focus {
  outline: none;
}

button:focus {
  outline: none;
}
