@import "tailwindcss";

@font-face {
  font-family: "Gudea";
  src: url('/fonts/Gudea-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Old Standard TT";
  src: url('/fonts/OldStandardTT-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Old Standard TT";
  src: url('/fonts/OldStandardTT-Bold.ttf');
  font-weight: bold;
}

@theme {
  --breakpoint-3xl: 120rem;

  --color-primary: #ffb6c1;
  --color-secondary: #000;
  --color-primary-light: #ffe5ec;
  --color-grey: #9ca3af;
  --color-primary-text: #ffb6c1;
  --color-secondary-text: #ffffff;
  --color-primary-bg: #e8e8e8;
  --color-secondary-bg: #fff;

  --font-primary: "Gudea", sans-serif;
  --font-secondary: "Old Standard TT", serif;

  --shadow-black: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  --shadow-pink: 1px 1px 2px 0px rgba(255, 182, 193, 0.1),
    1px 1px 1px 0px rgba(255, 182, 193, 0.06);
  --shadow-white: 1px 1px 2px 0px rgba(242, 242, 242, 0.1),
    1px 1px 1px 0px rgba(242, 242, 242, 0.06);

}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  .heading {
    @apply font-secondary text-3xl font-bold lg:text-5xl xl:text-6xl;
  }

  .sub-heading {
    @apply font-secondary text-xl font-bold lg:text-3xl;
  }

  .title {
    @apply font-secondary text-lg font-bold lg:text-2xl 2xl:text-3xl;
  }

  .sub-title {
    @apply font-secondary text-lg font-bold lg:text-xl;
  }

  .caption {
    @apply font-secondary text-xs;
  }
}

html {
  @apply bg-primary-bg dark:bg-primary-bg;

  font: normal 400 1rem /1.5 "Gudea";

  /* color: #000; */
  margin: 0;
  padding: 0;
  box-sizing: content-box;

  color-scheme: light dark;
  color: light-dark(#000, #fff);

  & :focus {
    outline: none;
  }
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: auto; */
  column-gap: 10px;
  margin: 0 2rem;
}

@media (min-width: 640px) {
  body {
    margin: 0 7.5rem;
    column-gap: 20px;
  }
}

@media (min-width:1024px) {
  .bookingSectionBg {
    clip-path: path("M1 26V224.5C1 238.307 12.1929 249.5 26 249.5H729.5C743.307 249.5 754.5 238.307 754.5 224.5V114C754.5 100.193 743.307 89 729.5 89H408C394.193 89 383 77.8071 383 64V26C383 12.1929 371.807 1 358 1H26C12.1929 1 1 12.1929 1 26Z")
  }
}

.buttonPrimary {
  @apply bg-primary text-secondary-text shadow-pink cursor-pointer font-normal;
}

.buttonOutline {
  @apply text-primary-text bg-transparent border border-primary shadow-pink cursor-pointer font-normal;
}

.button-effect-1 {
  @apply duration-300 ease-out hover:-translate-y-[3px] hover:scale-[1.03];
}

.group-hover-transition {
  @apply duration-500 ease-in-out;
}

/* ScrollBar Functionality */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffe5ec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* Primary color */
  background: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb6c1;
}

/* Selection of text */
::selection {
  background-color: #ffb6c1;
  color: #fff;
}

::-webkit-calendar-picker-indicator {
  border-radius: 4px;
  background-color: #ffb6c1;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator:focus {
  outline: none;
}

/* Outline */
select:focus {
  outline: solid 1px #ffb6c1;
  border-radius: 4px;
}

:active {
  outline: none;
}

/* Radio button */
input[type="radio"] {
  appearance: none;
  /* General */
  border: 2px dotted #ffb6c1;
  /* Add custom styling */
  border-radius: 50%;
  /* Make it circular */
  width: 16px;
  height: 16px;
}

input[type="radio"]:checked {
  background-color: #ffb6c1;
  border-color: #ffb6c1;
}

input[type="radio"]::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 1px;
}

/* Dialog */
dialog {
  background-color: #ffb6c1;
  box-shadow: var(--shadow-pink), var(--shadow-pink);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}